@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.woff2')
    format('woff2');
}

:root {
  --color-primery-light: #ffffff;
  --color-primery-blue: #2b7fff;
  --color-primery-dark-blue: #011c44;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

/* Base */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-primery-dark-blue);
}
address {
  font-style: normal;
}
ul {
  list-style: none;
}

/* Link */

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--color-primery-blue);
  font-weight: 600;
}

/* Hero section */

.hero-title {
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  color: var(--color-primery-blue);
}

.call {
  color: var(--color-secondary-dark-grey);
  font-size: 12px;
  line-height: 1.5;
}
/* Button */

.button {
  color: var(--color-primery-light);
  background: var(--color-primery-blue);
  border: 2px solid var(--color-primery-blue);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-primery-dark-blue);
  background-color: transparent;
}

/* Services-section */

.section-title {
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.section-title span {
  color: var(--color-primery-blue);
}

#services-section p {
  font-size: 22px;
  line-height: 1.7;
}

#services-section p span {
  font-weight: 600;
}

/* advantages-section */

#advantages-section p {
  line-height: 1.3;
  color: #000000;
}

/* procedure-section */

#procedure-section h3 {
  font-size: 22px;
  color: var(--color-primery-light);
}

/* contact-section */

#contact-section p {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primery-light);
}

/*  
#contact-section p span {
  color: var(--color-primery-blue);
}
*/

/* Footer */

.address-link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-primery-light);
}

.address-copyright {
  font-size: 13px;
  color: var(--color-secondary-grey);
}
